.page-wrapper {
  width:320px;
  margin: 0 auto;
  
  @media $tablet-width {
    width:640px;
  }
  
  @media $desktop-width {
    width:960px;
  }
}

/* Mobile Query */

/* Tablet Query */

/* Desktop Query */

@media ( min-width: 900px) {
  
  .features__row {
    height: 260px;
  }
  
  .feature{
    float:left;
     height: 260px;
  }
  
  .feature--primary {
    float: left;
    width: 31.3%;
  }
  .feature-picture {
    float: right;
    width: 62.5%;
  }
  
  .feature--icon{
    
    float: left;
    width:31.3%;
  }
  
  .feature--secondary {
    width: 31.3%;
  }
  
  .page-footer__header,
  .social-links {
    width:31.3%;
    float: left;
  }
    
  .page-footer__copyright {
       width:31.3%;
    float:right;
  }
  
}
