.icon-twitter {
  margin-left: 14px;
}

.icon-facebook {
  margin-left: 17px;
}

.icon-youtube {
  margin-left: 14px;
}

.icon-htmlacademy {
  margin-left: 11px;
  &:hover {
    fill: #81b3d2;
  }
  &:active{
   fill: #b2b2b2;
  }
}


@media #{$mobile-width} {
  .icon-like {
    fill: #b2b2b2;
    margin-right: 10px;
  }
}

@media #{$tablet-width} {
  .icon-like {
    fill: #b2b2b2;
    margin-right: 10px;
  }
}

@media #{$desktop-width} {
  .icon-like {
    fill: white;
  }
}