.btn {
  background-color: $primary-color;
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  &--form {
    width: 100%;
    min-height: 58px;
    line-height: 58px;
    border: none;

  }
  &--booking {
    min-height: 58px;
    line-height: 58px;
  }
  &:hover {
    background-color: $primary-color-hover;
  }
  &:active {
    background-color: $primary-color-active;
    color: rgba(255, 255, 255, 0.302);
  }
  &--repeat {
    width: 16px;
    height: 20px;
    border: 0;
    margin-right: 133px;
    background-color: transparent;
    outline: none;
    &:active {
      fill: #c1c1c1;
      outline: none;
    }
  }
  &--subtitles {
    display: block;
    width: 32px;
    height: 20px;
    margin-right: 30px;
    border: 0;
    background-color: transparent;
    outline: none;
  }
  &--zoom {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 23px;
    border: 0;
    background-color: transparent;
    outline: none;
  }
  &--zoom:hover,
  &--subtitles:hover,
  &--repeat:hover {
    fill: #333333;
  }
  &--zoom:active,
  &--subtitles:active,
  &--repeat:active {
    fill: #c1c1c1;
    outline: none;
  }
  &--booking {
    width: 87.5%;
  }
}

@media #{$tablet-width} {
  .btn {
    &--repeat {
      width: 16px;
      height: 20px;
      border: 0;
      margin-right: 133px;
      background-color: transparent;
      fill: white;
      position: absolute;
      left: -17px;
      top: 22px;
    }
    &--subtitles {
      display: block;
      width: 32px;
      height: 20px;
      margin-right: 30px;
      border: 0;
      background-color: transparent;
      fill: white;
      z-index: 20;
    }
    &--zoom {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 23px;
      border: 0;
      background-color: transparent;
      fill: white;
    }
    &--booking {
      width: 458px;
      min-height: 58px;
      line-height: 58px;
      margin-bottom: 50px;
    }
    &--form {
      width: 50%;
    }
  }
}

@media #{$desktop-width} {
  .btn--form {
    width: 50%;
  }
}
