  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--primary {
      background-color: $primary-color;
      min-height: 208px;
    }
    &--secondary {
      background-color: $secondary-color;
      min-height: 208px;
    }
    &--icon-home {
      background: url('../img/icon-house.svg') no-repeat;
    }
    &--icon-food {
      background: url('../img/icon-burger.svg') no-repeat;
    }
    &--icon-souvenirs {
      background: url('../img/icon-gift.svg') no-repeat;
    }
    &--icon-home,
    &--icon-food,
    &--icon-souvenirs {
      background-size: 12%;
      background-position: 7% 10%;
    }
    &__header {
      @include title;
      line-height: 36px;
    }
    &__header--primary {
      color: white;
    }
    &__number,
    &__text {
      @include text;
      width: 80%;
    }
    &__number--primary,
    &__text--primary {
      color: white;
      @include text;
    }
  }
  
  @media #{$mobile-width} {
    .feature {
      &--primary {
        min-height: 208px;
      }
      &--icon {
        min-height: 138px;
        align-items: flex-start;
        padding-left: 70px;
      }
      &--icon .feature__text {
        text-align: left;
      }
      &--icon-home {}
      &--icon-souvenirs {}
      &--icon-food {}
    }
  }
  
  @media #{$tablet-width} {
    .feature {
      float: left;
      height: 256px;
      &--primary {
        float: left;
        width: 33.3%;
      }
      &--icon {
        float: left;
        width: 33.3%;
      }
      &--secondary {
        width: 33.3%;
      }
      &--icon-home,
      &--icon-food {
        background-size: 20%;
        background-position: 50% 8%;
      }
      &--icon-souvenirs {
        background-size: 20%;
        background-position: 50% 7%;
      }
    }
  }
  
  @media #{$desktop-width} {
    .feature {
      height: 256px;
      &--primary {
        float: left;
        width: 33.4%;
      }
      &--icon {
        float: left;
        width: 33.4%;
      }
      &--secondary {
        width: 33.4%;
      }
      &--icon-home,
      &--icon-food {
        background-size: 15%;
        background-position: 50% 10%;
      }
      &--icon-souvenirs {
        background-size: 15%;
        background-position: 50% 7%;
      }
    }
  }