  .feature-picture {
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }
  
  @media #{$mobile-width} {
    .feature-picture {
      height: 256px;
      width: 100%;
    }
    .feature-picture img {
      height: 256px;
      transform: translateX(-20%);
    }
  }
  
  @media #{$tablet-width} {
    .feature-picture {
      display: block;
      margin: 0 auto;
      width: 66.7%;
      height: 256px;
      overflow: hidden;
    }
    .feature-picture img {
      height: 256px;
      transform: translateY(0%);
    }
  }
  
  @media #{$desktop-width} {
    .feature-picture {
      display: block;
      margin: 0 auto;
      width: 66.7%;
      height: 256px;
      overflow: hidden;
    }
    .feature-picture img {
      height: auto;
      transform: translateY(-20%);
    }
  }