.feature-picture {
  display: block;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@media #{$tablet-width} {
  .feature-picture {
    display: block;
    margin: 0 auto;
    width: 66.7%;
     height: 256px;
    overflow: hidden;
  }
}

@media #{$desktop-width} {
  .feature-picture {
    display: block;
    margin: 0 auto;
    width: 66.7%;
    height: 256px;
    overflow: hidden;
  }
}