.features {
  outline: 1px solid grey;
  
  &__header {
    outline: 1px solid grey;
    
  }
  &__title {
    outline: 1px solid grey;
    @include title;
    font-size: 21px;
  }
  
  &__text {
    @include text;
  }
  &__row {
    outline: 1px solid grey;
  }
}
@media #{$desktop-width} {
  .features__row {
    height: 260px;
  }
}