  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--primary {
      background-color: $primary-color;
      min-height: 208px;
    }
    &--secondary {
      background-color: $secondary-color;
      min-height: 208px;
    }
    &__header {
      @include title;
      line-height: 36px;
    }
    &__header--primary {
      color: white;
    }
    &__number,
    ,
    &__text {
      @include text;
      width: 80%;
    }
    &__number--primary,
    &__text--primary {
      color: white;
      @include text;
    }
  }
  @media #{$mobile-width} {
    .feature {
      &--primary {
        min-height: 208px;
      }
      &--icon {
        min-height: 138px;
        align-items: flex-start;
        padding-left: 70px;
      }
      &--icon .feature__text {
        text-align: left;
      }
      &--icon-home {}
      &--icon-souvenirs {}
      &--icon-food {}
    }
  }
  @media #{$tablet-width} {
    .feature {
      float: left;
      height: 260px;
      &--primary {
        float: left;
        width: 31.3%;
      }
      &--icon {
        float: left;
        width: 33.3%;
      }
      &--secondary {
        width: 33.3%;
      }
    }
  }
  @media #{$desktop-width} {
    .feature {
      float: left;
      min-height: 260px;
      &--primary {
        float: left;
        width: 33.3%;
      }
      &--icon {
        float: left;
        width: 33.3%;
      }
      &--secondary {
        width: 33.3%;
      }
    }
  }