  .features {
    &__title {
      @include title;
      margin: 0 auto;
      margin-bottom: 35px;
      width: 255px;
    }
    &__text {
      @include text;
      margin: 0 auto;
      line-height: 26px;
    }
  }
  
  @media #{$mobile-width} {
    .features {
      &__header {
        margin-top: 45px;
        margin-bottom: 25px;
        position: relative;
      }
      &__row--secondary {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        min-height: 256px;
      }
      &__row--secondary .feature--primary {
        min-height: 155px;
      }
      &__header:after {
        position: absolute;
        top: 180px;
        content: '';
        display: block;
        border: 160px solid transparent;
        border-top: 18px solid white;
        width: 0;
        height: 0;
      }
    }
    .span-fix {
      display: inline;
    }
  }
  
  @media #{$tablet-width} {
    .features {
      &__header {
       
        margin: 50px auto 50px auto;
      }
      &__title {
         width: 70%;
        @include title;
        font-size: 21px;
        margin-bottom: 25px;
      }
      &__text {
        @include text;
      }
      &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 256px;
      }
    }
  }
  
  @media #{$desktop-width} {
    .features {
      &__row--icons {
        display: flex;
        flex-direction: row;
      }
      &__header {
        margin: 50px auto 45px auto;
      }
      &__title {
        width: 51%;
        margin-bottom: 30px;
      }
    }
  }