  .form {
    display: flex;
    flex-direction: column;
    &__group {
      border: none;
      border-bottom: 1px solid #e5e5e5;
      min-height: 306px;
    }
    &__group--name {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      //      Почему эти не создают  равных отступов между элементами?
      justify-content: space-around;
      align-items: center;
    }
    &__title {
      @include title;
    }
    &__label {
      @include text;
      text-align: left;
      width: 21.9%;
    }
    &__input {
      font-size: 18px;
      font-weight: 700;
      color: #000000;
      text-align: left;
      width: 60%;
      border: none;
      background-color: #e5e5e5;
      height: 58px;
      line-height: 58px;
      padding-left: 22px;
      &__input--tel {
        width: 100%;
        background-color: #f2f2f2;
      }
    }
    
    &__radio {
      display: none;
    }
    
    &__label--radio {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      cursor: pointer;
      position: relative;
      margin-left: 70px;

      }
    &__label--radio::before {
      content: '';
      display: block;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: #f2f2f2;
      position: absolute;
      left: -56px;
      top: -5px;
    }

    &__radio:checked .form__label--radio::before {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #333333;
      position: absolute;
      left: -6px;
      top: -5px;
    }
    
    &__checkbox {
      display: none;
    }
    &__group--general {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
    }
    
    
    @media #{$tablet-width} {
      .feedback {
        width: 80%;
        margin: 0 auto;
      }
      .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        outline: 1px solid grey;
        &__group--name {
          flex-basis: 47%;
          order: 1;
          align-self: flex-end;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        &__group--general {
          flex-basis: 47%;
          order: 0;
          align-self: flex-start;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &__group--contact {
          flex-basis: 100%;
          order: 2;
        }
        &__group--sights {
          flex-basis: 100%;
          order: 3;
        }
        &__group--emo {
          flex-basis: 100%;
          order: 4;
        }
      }
      .feedback__send {
        order: 5;
      }
    }
    @media #{$desktop-width} {
      .feedback {
        width: 80%;
        margin: 0 auto;
      }
      .form {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        outline: 1px solid grey;
        &__group--name {
          flex-basis: 47%;
          order: 1;
          align-self: flex-end;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &__group--general {
          flex-basis: 47%;
          order: 0;
          align-self: flex-start;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &__group--contact {
          flex-basis: 100%;
          order: 2;
        }
        &__group--sights {
          flex-basis: 100%;
          order: 3;
        }
        &__group--emo {
          flex-basis: 100%;
          order: 4;
        }
      }
    }
    .feedback__send {
      order: 5;
    }
  }