.flex-wrapper {
  width: 100%;
  min-height: 58px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  //  outline: 1px solid black;
}

.flex-wrapper--contacts {
  flex-wrap: wrap;
  min-height: 125px;
  position: relative;
  align-items: center;
}

@media #{$mobile-width} {
  .flex-wrapper--name {
    margin-top: 20px;
    padding-left: 20px;
    width: 90%;
  }
  .flex-wrapper--contacts {
    width: 80%;
  }
  .flex-wrapper--sights{
    margin-bottom: 20px;
  }
}

@media #{$tablet-width} {
  .flex-wrapper--general {
    margin-bottom: 20px;
  }
  .flex-wrapper--name {
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .flex-wrapper--contacts {
    flex-wrap: wrap;
    min-height: 125px;
    align-items: center;
    width: 80%;
    padding-left: 0px;
    
  }
  .flex-wrapper--sights {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 115px;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    padding-left: 110px;
  }
}

@media #{$desktop-width} {
  .flex-wrapper--general {
    margin-bottom: 20px;
    padding-left: 10px;

  }
  .flex-wrapper--name {
    margin-bottom: 20px;
    padding-left: 55px;
      width: 90%;
  }
  .flex-wrapper--contacts {
    flex-wrap: nowrap;
    min-height: 125px;
    align-items: center;
    width: 40%;
    padding-left: 0px;
  }
  .flex-wrapper--sights {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 125px;
    align-items: center;
    width: 20%;
    margin-left: 10px;
    padding-left: 0px;
  }
}