.intro {
  width: 100%;
  
  min-height: 389px;
  background-image: url('../img/bg-back-mobile.jpg');
  background-position: center;
  position: relative;
  &__triangle {
    display: block;
    width: 100%;
    height: 57px;
    background-image: url('../img/bg-intro-triangle-mobile.svg');
    background-size: 100% 27px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -8%;
    left: 0;
    z-index: 10;
  }
  &__img {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
  }
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .intro {
    background-image: url('../img/bg-back-mobile@2x.jpg');
    background-position: center;
  }
}

@media #{$tablet-width} {
  .intro {
    background-image: url('../img/bg-back-desktop.jpg');
    background-position: center 30%;
    &__triangle {
      background-image: url('../img/bg-intro-triangle-tablet.svg');
      background-size: 100% 57px;
       bottom: 0;
    }
    &__img {
      position: absolute;
      top: 15%;
      left: 25%;
      width: 50%;
    }
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .intro {
      background-image: url('../img/bg-back-desktop@2x.jpg');
      background-position: center;
    }
  }
}

@media #{$desktop-width} {
  .intro {
    background-image: url('../img/bg-back-desktop.jpg');
    background-position: center;
    &__triangle {
      background: url('../img/bg-intro-triangle-desktop.svg') no-repeat;
      background-size: 1201px 57px;
      background-position-x: -1px; 
      
      bottom: 0;
    }
    &__img {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
    }
  }
}