.logo {
  display: block;
  margin: 0 auto;
  width: 102px;
  position: absolute;
  top: -56px;
  left: 50%;
  z-index: 10;
}

@media #{$mobile-width} {
  .logo {
    transform: translateX(-50%);
  }
}

@media #{$tablet-width} {
  .logo {
    transform: translateX(-50%);
  }
}

@media #{$desktop-width} {
  .logo{
  width: auto;
  }
}
