.logo {
  display: block;
  margin: 0 auto;
  width: 102px;
  position: absolute;
  top: 0px;
  left: 50%;
}

@media #{$mobile-width} {
.logo {
//  Вот тут не уверена, что это правильное решение
  transform: translateY(272%);
  }
}

@media #{$desktop-width} {
  
}
