.photo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media #{$mobile-width} {
  .photo {
    border-top: 1px solid #e5e5e5;
    flex-wrap: wrap;
  }
}

@media #{$tablet-width} {
  .photo {
    width: 50%;
    flex-wrap: wrap;
    &--primary {
      width: 100%;
    }
  }
}

@media #{$desktop-width} {
  .photo {
    width: 33.3%;
    flex-wrap: wrap;
    //    Здесь между первым фото и остальными вертикальный отступ, не пойму, откуда он берется и как его убрать!
    &--primary {
      width: 100%;
    }
  }
}