.photo-figure {
  display: block;
  margin: 0px;
  &__caption {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
  }
  &__author {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
  }
}

@media #{$mobile-width} {
  .photo-figure {
    margin-left: 20px;
  }
}

@media #{$tablet-width} {
  .photo-figure {
    outline: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__img {
      outline: 1px solid grey;
      width: 100%;
    }
    &__caption {
      outline: 1px solid grey;
      width: 75%;
    }
    &__author {
      outline: 1px solid grey;
      width: 75%;
    }
  }
}

@media #{$desktop-width} {
  .photo {
    width: 33%;
  }
}