.photo-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media #{$mobile-width} {
  .photo-row{
  flex-direction: column;
  flex-wrap: wrap;
  }
}
