.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 112px;
  &__caption {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
  }
  &__author {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
  }
  &__likes {
    @include text;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
  }
}

.icon-like {
  position: absolute;
  top: -2px;
  left: -30px;
  fill: #b2b2b2;
}

@media #{$tablet-width} {
  .photo-info {
    background-color: $secondary-color;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    min-height: 80px;
    padding-left: 20px;
    &__caption {
      width: 75%;
    }
    &__author {
      width: 75%;
    }
    &__likes {
      width: 14.4%;
      position: absolute;
      top: 40%;
    }
  }
  .icon-like {
    position: absolute;
    top: -2px;
    left: -10px;
    fill: #b2b2b2;
  }
}

@media #{$desktop-width} {
  .photo-info {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: -80px;
    &__caption {
      width: 75%;
      color: white;
    }
    &__author {
      width: 75%;
      color: white;
    }
    &__likes {
      width: 14.4%;
      position: absolute;
      top: 40%;
      color: white;
    }
  }
  .icon-like {
    position: absolute;
    top: -2px;
    left: -10px;
    fill: white;
  }
}