.preface {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title {
    @include title;
    font-size: 18px;
  }
  &__text {
    @include text;
    width: 90%
  }
}

@media #{$mobile-width} {
  .preface {
    min-height: 170px;
    padding-top: 25px;
    padding-bottom: 9px;
    border-bottom: 1px solid #e5e5e5;
    &__text {
      line-height: 22px;
    }
  }
}

@media #{$tablet-width} {
  .preface {
    min-height: 240px;
    &__title {
      @include title;
      font-size: 30px;
      padding-top: 40px;
    }
    &__text {
      width: 57%;
      margin-top: 5px;
      line-height: 20px;
    }
  }
}

@media #{$desktop-width} {
  .preface {
    min-height: 280px;
    &__title {
      @include title;
      font-size: 30px;
      padding-top: 80px;
    }
    &__text {
      width: 37%;
      margin-top: 5px;
      line-height: 20px;
    }
  }
}