.promo {
  outline: 1px solid grey;
  width: 100%;
  &__title {
    @include title;
  }
  &__text {
    @include text;
  }
}
@media #{$tablet-width} {
  .promo {
    width: 100%;
  }
}

@media #{$desktop-width} {
  .promo {
    width: 100%;
  }
}