.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 85px;
  min-height: 50px;
}

@media #{$mobile-width} {
  .social-links {
    margin-top: 30px;
  }
}

@media #{$tablet-width} {
  .social-links {
    width: 33.3%;
    margin-right: 0px;
    padding-left: 45px;
  }
}

@media #{$desktop-width} {
  .social-links {
    width: 33.3%;
    margin-right: 20px;
    padding-left: 80px;
  }
}
