.social-link {
  width: 46px;
  height: 48px;
  background-color: $primary-color;
  margin-right: 6px;
  //  delete after adding svg-icons! 
  font-size: 11px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  //end delete
  &:hover {
    background-color: $primary-color-hover;
  }
  &:active {
    background-color: $primary-color-active;
  }
  &--twitter {
    background-image: url('../../img/icon-twitter.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &--facebook {
    background-image: url('../../img/icon-facebook.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &--youtube {
    background-image: url('../../img/icon-youtube.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}