.social-link {
  display: block;
  width: 46px;
  height: 31px;
  padding-top: 15px;
  margin-right: 6px;
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color-hover;
  }
  &:active {
    background-color: $primary-color-active;
  }
}